<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <class name="МенеджерХранилищаКонфигурации" file="src/Классы/МенеджерХранилищаКонфигурации.os"/>
    <class name="СоответствияНазванийВидовОбъектов" file="src/Классы/СоответствияНазванийВидовОбъектов.os"/>
    <class name="СписокОбъектовКонфигурации" file="src/Классы/СписокОбъектовКонфигурации.os"/>
</package-def>