<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <module name="Платформа1С" file="src/Классы/Платформа1С.os"/>
    <class name="МенеджерПлатформы1С" file="src/Классы/Платформа1С.os"/>
    <module name="ОбщиеФункцииПлатформы" file="src/Модули/ОбщиеФункцииПлатформы.os"/>
    <module name="ПриложенияПлатформы" file="src/Модули/ПриложенияПлатформы.os"/>
    <module name="РазрядностьПлатформы" file="src/Модули/РазрядностьПлатформы.os"/>
</package-def>